[Desktop Entry]
Name=Settings
Icon=settings-glass
Exec=gnome-control-center
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;
OnlyShowIn=GNOME;
Keywords=Preferences;Settings;
X-Purism-FormFactor=Workstation;Mobile;
X-Ubuntu-Gettext-Domain=gnome-control-center-2.0
